.metric-selector {
    margin: 10px 25px 10px 20px;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    z-index: 7;
}

.metric-title {
    font-size: 11.5px;
    color: #4c4a4a;
    text-transform: uppercase;
    text-align: right;
    grid-column: 1;
    grid-row: 1;
}

.selected-metric {
    color: #323232;
    font-weight: bold;
    font-size: 1em;
    grid-column: 1;
    grid-row: 2;
    place-self: center flex-end;
    background-color: #e1f5fe;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    width: 500px;
}

.metric-animation {
    z-index: 8;
    animation: bounce 1s infinite;
    box-shadow: 0px 152px 86px -81px rgba(0,0,0,0.75);
    animation-delay: 3s;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

.selected-metric > a {
    top: 12px;
    cursor: pointer;
}

.selector-input {
    z-index:8;
    border-radius: 1px;
    background: white;
    padding: 0;
}

.selector {
    width: 570px;
    opacity: 0;
    grid-column: 1;
    grid-row: 2;
    place-self: flex-end;
    z-index: 8;
}

.value-list {
    transition: max-height .3s;
}

.value-list.open {
    border: 0.5px solid #EEE;
}

.value-list > ul > li {
    width: 96% !important;
    flex-direction: column;
    font-family: sans-serif;
    margin-bottom: 16px;
    align-items: flex-start !important;
}

.value-list > ul > li > .label {
    font-size: 17px;
    font-family: sans-serif;
}

.value-list > ul > li > .fieldname {
    font-size: 17px;
    margin: 0px !important;
    font-family: sans-serif;
}

@media (max-width: 900px) {
    .metric-title {
      text-align: left;
    }
    .selected-metric {
        justify-content: flex-start;
    }
}
