.metric-selector {
    margin: 10px 25px 10px 20px;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    z-index: 2;
}

.selected-metric {
    color: #323232;
    font-weight: bold;
    font-size: 1em;
    grid-column: 1;
    grid-row: 2;
    place-self: center flex-end;
    background-color: #5f86a6;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    width: 95%;
    color: white;
    z-index: 2;
    cursor: pointer;
}

.selected-metric > a {
    top: 12px;
    cursor: pointer;
}

.selector-input {
    z-index:-1;
    border-radius: 1px;
    background: white;
    padding: 0;
}

.selector {
    opacity: 0;
    grid-column: 1;
    grid-row: 2;
    place-self: flex-end;
    z-index: 1;
}

.value-list {
    transition: max-height .3s;
    top:70px !important;
    right: 35px !important;
    width: 40%
}

.value-list.open {
    border: 0.5px solid #EEE;
}

.value-list > ul > li {
    width: 96% !important;
    flex-direction: column;
    font-family: sans-serif;
    margin-bottom: 16px;
    align-items: flex-start !important;
}

.value-list > ul > li > .label {
    font-size: 17px;
    font-family: sans-serif;
}

.value-list > ul > li > .fieldname {
    font-size: 17px;
    margin: 0px !important;
    font-family: sans-serif;
}

@media only screen and (max-width: 1700px){
    .value-list {
        width: 39%
    }
}

@media only screen and (max-width: 1570px){
    .value-list {
        width: 38%
    }
}

@media only screen and (max-width: 1400px){
    .value-list {
        width: 46%
    }
}

@media only screen and (max-width: 960px){
    .value-list {
        width: 36%
    }

    .value-list > ul {
        padding: 0;
    }
}

@media only screen and (max-width: 780px){
    .value-list {
        width: 27%
    }
}

@media only screen and (max-width: 685px){

    #im {
        height: unset !important;
    }

    .widget {
        height: unset !important;
    }

    .selected-metric {
        width: 87%;
        place-self: center flex-start;
    }

    .value-list {
        top:175px !important;
        right: unset !important;
        left: 5px !important;
        width: 86%;
    }

}

@media only screen and (min-width: 1401px){
    .value-list {
        top:70px !important;
        right: 35px !important;
        left: unset !important;
    }
  }
